
@{
    ViewBag.Title = "AdminHome";
}


<h2>AdminHome</h2>

<p>
    Add Event
<p><a class="btn btn-default" href="..\Events\Create">Add Event &raquo;</a></p>

    Add/Edit Admin Profile
<p><a class="btn btn-default" href="..\Administrators\Create">Edit Admin &raquo;</a></p>

    Add/Edit Customer
<p><a class="btn btn-default" href="..\Customers\Create">Edit Customer &raquo;</a></p>

Add/Edit Company
<p><a class="btn btn-default" href="..\Companies\Create">Edit Company &raquo;</a></p>



</p>
