
@{
    ViewBag.Title = "AdminHome";
}


<h2>AdminHome</h2>

<p>
    Add/Edit Event
<p><a class="btn btn-default" href="..\Events\Create">Add Event &raquo;</a><<a class="btn btn-default" href="..\Events\Edit">Edit Event &raquo;</a></p>

    Add/Edit Admin Profile
<p><a class="btn btn-default" href="..\Administrators\Create">Add Admin &raquo;</a><a class="btn btn-default" href="..\Administrators\Edit">Edit Admin &raquo;</a></p>

    Add/Edit Customer
<p><a class="btn btn-default" href="..\Customers\Create">Add Customer &raquo;</a>><a class="btn btn-default" href="..\Customers\Edit">Edit Customer &raquo;</a></p>

Add/Edit Company
<p><a class="btn btn-default" href="..\Companies\Create">Add Company &raquo;</a><a class="btn btn-default" href="..\Companies\Edit">Edit Company &raquo;</a></p>



</p>
