
@{
    ViewBag.Title = "CompanyPassword";
}

<h2>CompanyPassword</h2>

<p>Please enter the Company's password below for administrator access.</p>

<p><a class="btn btn-default" href="..\Administrators\AdminHome">Enter Admin Area &raquo;</a></p>

