
@{
    ViewBag.Title = "CompanyPassword";
}

<h2>CompanyPassword</h2>

<h3>Please enter the company's administrator password</h3>
<p><a class="btn btn-default" href="..\Customers\AdminHome">Admin Login &raquo;</a></p>