
@{
    ViewBag.Title = "Customer Home Page";
}

<h2>Customer Home</h2>


<p><a class="btn btn-default" href="..\Events\Index">See All Events &raquo;</a></p>

@*<p><a class="btn btn-default" href="MyEvents">See Events I'm Registered For</a></p>*@