
@{
    ViewBag.Title = "CustomerHome";
}

<h2>CustomerHome</h2>


<p><a class="btn btn-default" href="..\Events\Index">See Events &raquo;</a></p>

<p><a class="btn btn-default" href="MakePayment">Make Payment &raquo;</a></p>