
@{
    ViewBag.Title = "InvoiceConfirmation";
}

<h2>Invoice Confirmation</h2>

<p style="font-size: 24px; color: blue">
    You have been registered.  We will send an invoice to your company.  Thank you for being a Member!
</p>
