
@{
    ViewBag.Title = "InvoiceConfirmation";
}

<h2>InvoiceConfirmation</h2>

<h3>

    You have been registered.  We will send an invoice to your company.  Thank you for being a Member!
</h3>