@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application was specifically designed for the association with dynamic membership.  If you have:
    <br/>- Multiple levels of membership
    <br/>- Company-based membership, Individual-based membership, or both!
    <br/>- Benefit levels based on Company and Individual levels of membership
    <br/><br/>Then this is the registration application for you!
    </p>
