  @{
    ViewBag.Title = "Simply Register Home Page";
}

<div class="jumbotron">
    <h1>Simply Register</h1>
    <p class="lead">A multi-layered association's solution to online registration.</p>
    <p><a href="..\Home\About" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Your Profile</h2>
        <p>
            Enter your contact information, link to your company, and start receiving the benefits your company reveives as a Member of our Association!  
            Not a member company?  Find out how to become one @Html.ActionLink("Here", "Index", "Home").
        <p><a class="btn btn-default" href="..\Account\Register">Register Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Our List of Events</h2>
        <p>See a list of all the events and trainings our Association is putting on.  
            Our trainings are open to the public, but some of our Corporate events are for Members Only.  
            We'll let you know the price and if you're able to register based on your company's level of membership.</p>
        <p><a class="btn btn-default" href="..\Events\Index">See Events &raquo;</a></p>
    </div>
<div>
    <div class="col-md-4">
        <h2>Administration Log In</h2>
        <p>Log in with your administrator credentials here to add or modify events, or to manage a cutomer account.</p>
        <p><a class="btn btn-default" href="..\Customers\CompanyPassword">Admin Login &raquo;</a></p>
    </div>
</div>
    <p><a class="btn btn-default" href="Test">Test Styles &raquo;</a></p>
</div>